$positive: #DE4F4F;
$loading-font-size: 22px;

@import '../../.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '../../.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';

.ionic-body.platform-android {
  font-family: "Roboto", sans-serif;

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", sans-serif;
  }

  .tab-item {
    font-family: "Roboto", sans-serif;
  }
}

.lot {
  font-size: 24px;
  color: #27ae60;
  margin-top: 10px;
  display: block;
}

.datetime {
  font-size: 12px;
}

.fit {
  padding: 0px;
  margin: 0px;
}